header {
    padding-top: 100px;
    padding-bottom: 125px;
    height: max-content;
    background-image: url("../img/header_image.jpg");
    background-size: cover;
    background-position: center;
}

.header-text {
    font-size: 48px;
}

.view {
    align-items: center;
    height: 355px;
}

main {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-image: url("../img/main_backgrounds/2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid__l-elem, .grid__r-elem {
    /* border: dashed red; */
    padding-top: 55px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    height: max-content;
    background-image: url("../img/header_image.jpg");
}

.copyright {
    margin: 0px 28px;
    width: max-content;
}



@media (max-width: 750px) {
    .header-text {
        font-size: 32px;
    }
    .grid {
        display: flex;
        flex-direction: column;
    }
}
