header {
    height: 350px;
    background-image: url("../img/header_image.jpg");
    background-size: cover;
    background-position: center;
}

main {
    padding-top: 2rem;
    background-color: lightskyblue;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid__l-elem, .grid__r-elem {
    /* border: dashed red; */
    height: 428px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    padding-top: 16px;
}

.copyright {
    margin: 0px 28px;
    width: max-content;
}

#main__section-1, #main__section-2, #main__section-3 {
    padding-left: 12px;
    padding-right: 12px;
}



@media (max-width: 360px) {
    header {
        height: 256px;
    }
}

@media (max-width: 640px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
}
