header {
    padding-top: 100px;
    padding-bottom: 125px;
    height: max-content;
    background-image: url("../img/header_image.jpg");
    background-size: cover;
    background-position: center;
}

.header-text {
    font-size: 48px;
}



.heading-header {
    padding-bottom: 18px;
    text-align: center;
}

.heading {
    padding-top: 46px;
    padding-bottom: 46px;
    border-top: solid black 4px;
    border-bottom: solid black 4px;
    align-items: center;
    background-image: url("../img/desert-sky.jpg");
    background-size: cover;
    height: max-content;
}

.heading-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.heading-grid-top, .heading-grid-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.heading-grid-top {
    padding-bottom: 56px;
}

.heading-grid-bottom {
    padding-top: 56px;
}

.heading-grid-item {
    text-align: center;
}



main {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-image: url("../img/main_backgrounds/2.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: solid black 5px;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.main-grid-item {
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}

footer {
    height: max-content;
    background-image: url("../img/header_image.jpg");
}

.copyright {
    margin: 0px 28px;
    width: max-content;
}



@media (max-width: 750px) {
    .header-text {
        font-size: 30px;
    }
    .main-grid {
        display: flex;
        flex-direction: column;
    }
    .heading-grid-top, .heading-grid-bottom {
        display: flex;
        flex-direction: column;
    }
}
